---
export interface Props {
  tags: string[];
  activeTag?: string;
  class?: string;
}

const { tags, activeTag, class: className } = Astro.props;
---

<ul class:list={["radar-tags", className]}>
  {
    tags.map(tag => (
      <li>
        <a
          href={`/radar/tags/${tag.toLowerCase()}`}
          class:list={[
            "tag-pill",
            { "tag-pill-active": activeTag && tag.toLowerCase() === activeTag },
          ]}
        >
          #{tag.toLowerCase()}
        </a>
      </li>
    ))
  }
</ul>

<style>
  @reference "../styles/base.css";

  .radar-tags {
    @apply tags-list;
  }
</style>
