---
import { SOCIALS } from "@config";
import { Icon } from "astro-icon/components";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";
---

<div class="social-icons flex">
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="link-button"
        title={social.linkTitle}
        ariaLabel={social.linkTitle}
      >
        <Icon name={socialIcons[social.name]} aria-hidden="true" />
      </LinkButton>
    ))
  }
</div>

<style>
  @reference "../styles/base.css";

  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-1;
  }

  .link-button :global(svg) {
    @apply h-6 w-6;
  }
</style>
